<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Categoria {{idPage}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
      <ion-card-content>
          <ion-slides pager="true">
 
              <ion-slide>
                <!--<img src="assets/imagestest/slides1.png" />-->
                <img src="https://placeimg.com/500/400/tech">
              </ion-slide>
             
              <ion-slide>
               <!--<img src="assets/imagestest/slides2.png" />-->
               <img src="https://placeimg.com/500/400/tech">
              </ion-slide>
             
              <ion-slide>
               <!--<img src="assets/imagestest/slides3.png" />-->
               <img src="https://placeimg.com/500/400/tech">
              </ion-slide>
             
              <ion-slide>
               <!--<img src="assets/imagestest/slides4.png" />-->
               <img src="https://placeimg.com/500/400/tech">
              </ion-slide>
              
            </ion-slides>
           
          <ion-row no-padding>
  
            <ion-col col-3>
              <h3>Titulo del Producto</h3>
              <p>Descripcion del Producto</p>
            </ion-col>
            <ion-col>
              <p>Precio del Producto</p>
            </ion-col>
  
          </ion-row>
        </ion-card-content>
  
      </ion-card>


      <!--<ion-row>
          <ion-col>
            <button ion-button color="primary" (click)="goToCall()">Llamar</button>
            <button ion-button color="success" (click)="goToWhat()">Whatsapp</button>
          </ion-col>
      </ion-row>-->

</ion-content>
